/*** For testing ***/
/* * {
    cursor: default;
    border: 1px dotted #C00;
} */


/* For mobile phones */

html, body {
  /* font-size: 0.9em; */
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav {
  /* ... */
}
.container.w3-row {
  padding-left: 1em;
  padding-right: 1em;
}
footer {
  justify-content: center;
}
footer p {
  text-align: center;
}
h1 {
  text-align: center;
}
.subtitle {
  text-align: center;
}
img {
  max-width: 100%;
}
p {
  text-align: justify;
}
a {
  color: #C00;
  text-decoration: none;
}
a:hover {
  color: #F33;
  text-decoration: underline;
}
a[target="_blank"]::after {
  content: "↗";
}
.invisible { /* Simple invisibility class */
  display: none;
}
.w3-bar {
  display: flex;
  justify-content: center;
}
button {
  font-variant: small-caps;
}

/*** Classes only in the reading pages ***/
.blurb {
  font-style: italic;
}
.latin_text {
  display: none;
}
.latin_text.currently_reading {
  display: inherit;
}
.margin_control {
  margin-left: 1em;
}
#utility {
  /* ... */
}
#reading {
  min-height: 100%;
  margin-bottom: 2em;
}
#lookup {
  display: flex;
  flex-direction: column;
  position: sticky;
  position: -webkit-sticky;
  bottom: 0;
}
.speaker {
  font-variant: small-caps;
}
.undisplayed { /* for unused lines */
  display: none;
}
#loading {
  text-align: right;
}
.l {
  /* Lines of the poem cannot be selected */
  -webkit-user-select: none; /*Safari*/
  -ms-user-select: none; /*IE 10 and IE 11*/
  user-select: none; /*Standard syntax*/
  padding-left: 20px;
  text-indent: -20px;
}

/*** Dynamic classes ***/
.w, .cardbutton {
  cursor: pointer;
}
.w:hover {
  text-decoration: underline;
}
.focus {
  color: #C00;
}
span.verse_ref {
  color: #C00;
  font-size: 70%;
  line-height: 1;
  position: absolute;
  text-align: right;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  visibility: hidden; /* Most line numbers are hidden; every fifth line number, or one that is not the expected number, is displayed dynamically. */
}
.relative { /* For line numbers to be set back from the line they are wrapped in a .relative span */
  position: relative;
  width: 0px;
  height: 0px;
}
.visible span.verse_ref { /* To manually override which line numbers are visible. */
  visibility: visible;
}
.quickHighlight {
  background-color: pink;
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}

/*** Card classes ***/
.w3-card-4 {
  background-color: white;
}
.w3-card-4 header {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.w3-card-4 header h2 {
  width: 80%; /* this combines with the 2 buttons of 10% width each */
}
.hide, .close{
  /* Button text cannot be selected */
  -webkit-user-select: none; /*Safari*/
  -ms-user-select: none; /*IE 10 and IE 11*/
  user-select: none; /*Standard syntax*/
  width: 10%; /* this combines with the h2 of 80% width*/
  font-size: xx-large;
  text-align: center;
}
.cardbutton:hover {
  background: #bbb;
}
.animate {
  animation-duration: 0.25s;
  animation-name: animate-fade;
  animation-delay: 0.25s;
  animation-fill-mode: backwards;
}
@keyframes animate-fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}



.lt { /* Is this required? */
  font-style: italic;
}

ul {
  padding: 0px;
}
li {
  list-style: none;
}

/* For tablets */

@media only screen and (min-width: 600px) {
  html, body {
    font-size: 1em;
  }
}

/* For desktops */

@media only screen and (min-width: 992px) {
  html, body {
    font-size: 1em;
  }
  .container {
    /* display: flex; */
    justify-content: center;
  }
  .panel {
    padding-left: 1em;
    padding-right: 1em;
  }
  #utility {
    display: inherit;
  }
  #reading {
    min-width: 400px;
  }
  #lookup {
    position: inherit;
    min-width: 400px;
  }
  .w3-card-4 {
    position: -webkit-sticky;
    position: sticky;
    top: 1em;
    margin-bottom: 1em;
  }
  .w3-card-4.closed {
    margin-bottom: 0; /* When a card is closed there is no gap between it and the card below. */
  }
}