* {
  /* cursor: default; */
  /* border: 1px dotted #C00; */
}
span {
  cursor: pointer;
}
html, body {
  font-size: 1em;
}
a {
  color: #C00;
  text-decoration: none;
}
a:hover {
  color: #F33;
  text-decoration: underline;
}
.blurb {
  font-style: italic;
}
.focus {
  background-color: yellow;
}
.select {
  text-decoration: underline;
}
.latin {
  font-style: italic;
}
.w3-bar {
  height: 4em;
}
.w3-bar-item {
  height: inherit;
}

.w3-card-4 {
  width: 100%;
}

div .l {
  -webkit-user-select: none; Safari
  -ms-user-select: none; IE 10 and IE 11
  user-select: none; Standard syntax
}

.container {
  display: flex;
}

footer {
  display: flex;
  justify-content: center;
}

.panel {
  /* min-width: 400px; */
  margin: 1em;
    /* border: 1px dotted #0C0; */
}

#reading {
  min-width: 400px;
}

section {
    /* border: 1px dotted #C00; */
}

.animate {
  animation-duration: 0.25s;
  animation-name: animate-fade;
  animation-delay: 0.25s;
  animation-fill-mode: backwards;
}

@keyframes animate-fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}